.TodoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.TodoItem input[type="checkbox"] {
  width: 20px;
  accent-color: rgb(137, 152, 109);
  cursor: pointer;
}

.TodoItem .item {
  flex: 1;
}

.TodoItem input[type="checkbox"]:checked ~ .item {
  text-decoration: line-through;
}

.TodoItem .date {
  font-size: 14px;
  color: rgb(156, 171, 132);
}

.TodoItem button {
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  color: rgb(200, 200, 200);
  font-size: 14px;
}
